@use 'sass:map';
@use 'sass:list';
@use 'sass:color';
@use 'sass:string';
@use '../core/index.scss' as *;

@function listToMap($list, $prefix: '') {
  $map: ();
  @for $i from 1 through length($list) {
    $map: map.merge($map, ($prefix + ($i - 1): nth($list, $i)));
  }
  @return $map;
}

@function listToReverseMap($list, $prefix: '') {
  $map: ();
  $length: length($list);
  @for $i from 1 through $length {
    $index: $length - $i;
    $map: map.merge($map, ($prefix + $index: nth($list, $i)));
  }
  @return $map;
}

@function parseColorToRGB($clr) {
  $red: color.red($clr);
  $green: color.green($clr);
  $blue: color.blue($clr);
  @return #{$red, $green, $blue};
}

@mixin extractColors($map) {
  @each $key, $value in $map {
    #{$color-var-prefix}-#{$key}: #{parseColorToRGB($value)};
  }
}
